.price-slider
    width: 90%
    height: 2px
    position: relative
    .price-slider-range
        position: absolute
        background-color: #cc2121
        height: 2px
    .prise-sl-handle
        cursor: pointer
        width: 8px
        height: 8px
        top: -3px
        outline: none
        position: absolute
        border: none
        border-radius: 0
        margin-left: 0
        background-color: #cc2121
    .left
        left: 0%
    .right
        left: 100%
        margin-left: -8px 
.catal-block
    margin-bottom: 30px
    padding-bottom: 30px
    border-bottom: 1px solid #ebebeb
       
.catal-list
    padding-left: 10px
    li
        text-transform: capitalize
        font-size: 14px
        font-weight: 400
        display: block
        margin: 5px 0

.filter-range
    height: 78px
    display: flex
    justify-content: flex-end
    flex-direction: column
    .price-box
        display: flex
        align-items: center
        justify-content: flex-start
        width: 100%
        color: #cc2121
        padding-top: 20px
        text-align: center
        .tab
            width: 45px
            margin-left: 10px
            margin-right: 10px
            color: black
        .from,.to
            display: inline-block
            width: 50px
            margin-right: 5px
            border: 1px solid #cc2121
            .f-prise
                display: inline-block
                text-align: left
                


    