<div class="catal-block">
    <h2 class="catal-title">
        Бренды
    </h2>
    <div class="catal-list">
        <ul *ngIf="brands">
            <li *ngFor="let brand of brands">
                <label>
                    {{brand.title}} ({{brand.count}})
                    <input (change)="filterSet($event, brand)" type="checkbox">
                </label></li>
        </ul>
    </div>
</div>
<div class="catal-block">
    <h2 class="catal-title">
        Диапазон цены
    </h2>
    <div class="filter-range" (mousemove)="mooveMoovLeft($event)" (mousedown)="mooveLeftEnter($event)" (mouseup)="moovleftUp($event)" (mouseleave)="mouseoutLeft()">
       <div #rangeS class="price-slider">
           <div class="price-slider-range"></div>
           <span id="rLeft" [ngStyle]="{'left.%': leftStep}" class="prise-sl-handle left"></span>
           <span id="rRight" [ngStyle]="{'left.%': rigthStep}" class="prise-sl-handle right"></span>
       </div>
       <div class="price-box">
           <span class="from">{{priceFrom}}( Бел.р)</span>
           <span class="tab">-</span>
           <span class="to">{{priceTo}}( Бел.р)</span>
       </div>
    </div>
</div>
