<div class="catal-block">
    <h2 class="catal-title">
        Бренды
    </h2>
    <div class="catal-list">
        <ul *ngIf="brands">
            <li *ngFor="let brand of brands">
                <label>
                    {{brand.title}} ({{brand.count}})
                    <input (change)="filterSet($event, brand)" type="checkbox">
                </label></li>
        </ul>
    </div>
</div>
<div class="catal-block">
    <h2 class="catal-title">
        Диапазон цены
    </h2>
    <div class="catal-list">
       <div #rangeS class="price-slider">
           <div class="price-slider-range"></div>
           <span class="prise-sl-handle left"></span>
           <span class="prise-sl-handle right"></span>
       </div>
    </div>
</div>