<main>
  <div class="catal-nav-top">
    <div class="catal-tool-bar">
      <div class="catal-tool-inner">
        <div class="catal-view-mode">
          <ul>
            <li [ngClass]="{'curent-view': prodSrv.stateView}"><i class="fa fa-table"
                (click)="chengeProductsState('block')"></i></li>
            <li [ngClass]="{'curent-view': prodSrv.stateList}"><i class="fa fa-bars"
                (click)="chengeProductsState('list')"></i></li>
            <li class="compare"><button><i class="fa fa-refresh" (click)="chengeProductsState('list')"></i>сравнение
                <span class="compare-count">{{countCompare}}</span>
              </button></li>
          </ul>
        </div>
        <div class="catal-tool-count">
          <!-- <span>
            Showing 10 to 18 of 27
          </span> -->
        </div>
      </div>
      <div class="catal-tool-select">
        <app-sort (appSort)="appSort()"></app-sort>
      </div>
    </div>
  </div>
  <div *ngIf="products.length">
    <section class="catal-product-list" *ngIf="prodSrv.stateView">
      <div class="catal-product-item" *ngFor="let product of products">
        <app-pre-view-product [product]="product"></app-pre-view-product>
      </div>
    </section>
    <section class="catal-product-list list" *ngIf="prodSrv.stateList">
      <div class="catal-product-list-item">
        <app-preview-list [product]="product" *ngFor="let product of products"></app-preview-list>
      </div>
    </section>
  </div>
  <div class="catal-product-list" *ngIf="!products.length">
    <p>Товаров не найденно</p>
  </div>
  <div class="catal-pagination" *ngIf="products.length">
    <app-pagination [flagVisible]="true"></app-pagination>
  </div>
</main>