<div>
  <div class="center">
    <div class="row">
      <div class="catal-left">
        <aside id="catal-filter">
          <div class="catal-block">
            <h2 class="catal-title">
              Каталог
            </h2>
            <div class="catal-list">
              <app-categories [categories_id]="category"></app-categories>
            </div>
          </div>
          <app-filter (emitfilter)="startSearch($event)"></app-filter>
        </aside>
      </div>
      <div class="catal-right">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
