<div class="compare">
    <main class="comp-main">
        <div class="comp-poison">
            <div class="comp-col">
                <div class="comp-title">
                    <h2 class="">
                        Сравнение товаров
                    </h2>
                    <table class="comp-border" style="text-align: center">
                        <thead>
                            <tr>
                                <td colspan="4">Параметры сравнения</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="comp-title">Товар</td>
                                <td *ngFor="let product of productsCompare">
                                    <a href="">
                                        {{product.title}}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="comp-title">Изображение</td>
                                <td *ngFor="let product of productsCompare">
                                   <div class="comp-wr-i">
                                       <img [alt]="product.title" src="../../../assets/image/products/{{product.img}}">
                                   </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="comp-title">Цена</td>
                                <td *ngFor="let product of productsCompare">
                                    <span>{{product.price}}BYN</span>
                                </td>
                            </tr>
                            <tr *ngIf="product?.brand">
                                <td class="comp-title">Брэнд</td>
                                <td *ngFor="let product of productsCompare">
                                    <span>{{product.brand}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="comp-title">Описание</td>
                                <td *ngFor="let product of productsCompare">
                                    <span>{{product.minidescription}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="comp-title">Вес</td>
                                <td *ngFor="let product of productsCompare">
                                    <span>{{product.weight}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="comp-title">Действие</td>
                                <td class="comp-action" *ngFor="let product of productsCompare">
                                    <button [disabled]="hasCart(product)" (click)="addToCart(product)" class="comp-p default-btn btn btn-primary">В корзину</button>
                                    <button (click)="deleteCompare(product)" class="default-btn btn btn-second">Удалить</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>