<div class="pagination">
  <div class="pag-wr">
      <div class="pag-view">
        <span>С <span>{{fromVisiblePages}}</span> по <span>{{toVisiblePages}}</span> из <span>{{pagSrv.totalRecords}}</span></span>
      </div>
      <div class="pag-btn" *ngIf="pagSrv.totalPages && flagVisible">
        <span><button [disabled]="curentPage == 1" (click) = 'goPrev()' class="pag-link"><i class="fa fa-angle-left"></i>Назад</button></span>
        <ul>
          <li *ngFor="let p of pages"><a [routerLink]="['/catalog/view', category, p]" class="pag-link" [ngClass]="p == curentPage ? 'active' : ''" >{{p}}</a></li>
        </ul>
        <span><button [disabled]="curentPage == pagSrv.totalPages" (click) = 'goNext()' class="pag-link">Вперед<i class="fa fa-angle-right"></i></button></span>
      </div>
  </div>
</div>
