<article class="product-layout">
    <div class="product-inner">
        <div class="product-image">
            <div class="product-label label-new">new</div>
            <div class="product-label label-sale">7%</div>
            <a>
                <img alt="" src="../../../assets/image/products/{{product.img}}">
            </a>
            <div class="action-links">
                <button class="action-btn btn-cart" [disabled]="hasCart(product)" (click)="addToCart(product)">
                    <i class="fa fa-cart-arrow-down"
                        [title]="hasCart(product) ? 'Товар в корзине' : 'Добавить в корзину'">
                    </i>
                </button>
                <!-- <button class="action-btn btn-wishlist"><i class="fa fa-heart-o"></i></button> -->
                <button class="action-btn btn-compare" (click)="addToCompare(product)"
                    [disabled]="hasCompare(product)"><i class="fa fa-refresh"
                        [title]="hasCompare(product) ? 'Продукт добавлен в сравнение' : 'Добавить в сравнение'"></i></button>
                <button class="action-btn btn-quickview" (click)="openViewProduct(product)"><i class="fa fa-search"
                        aria-hidden="true" title="просмотреть"></i></button>
                <!-- сделать отдельным компонентом -->
            </div>
        </div>
        <div class="product-caption">
            <h4 class="product-name">
                <a href="/">{{product.title}}</a>
            </h4>
            <div class="product-price">
                <span class="old-price">{{newPrice}}(руб)</span>
                <span class="new-price">{{product.price}}(руб)</span>
            </div>
        </div>
    </div>
</article>