.categories
    padding-left: 20px
    .categories-list
        position: relative
        height: 40px
        :after
            content: ''
            display: block
            width: 0px
            height: 2px
            background-color: #cc2121
            transition: .4s 
        .categories-link 
            display: block
            width: 135px
            text-align: left
            position: absolute
            padding: 0
            font-size: 14px
            line-height: 36px
            height: auto
            text-decoration: none
            font-weight: 400
            transition: 1.4s
        .active
            color: #cc2121
            text-align: right
            right: 40%
            
  